body{
    text-align: center;
}

section {
    max-width: 1300px;
    margin-inline: auto;
}

h1 {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
}

#game-board{
    display: grid;
    min-height: 578px;
    margin-inline: auto;
    grid-template-columns: repeat(5, 1fr);
    padding-inline: 80px;
    padding-block: 30px;
    background-color: #ffabab;
    border-radius: 10px;
}

.card{
    border: 0;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 15px;
    padding: 0;
    width: 156px;
    height: 220px;
    background-size: cover;
    background-position: center;
}

.flipped {
    background-color: #ff0062;
}

.btn-restart{
    float: left;
    margin-block: 30px;
    padding: 14px 50px;
    border: 0;
    border-radius: 30px;
    background-color: #ff0062;
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.btn-restart:active {
    background-color: #ad0031;
}

#won {
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    max-width: 900px;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    margin-inline: auto;
    background-color: #FFFFFF;
    border-radius: 10px;
}

#won img {
    max-width: 50%;
    border-radius: 10px;
}

#won button {
    max-width: fit-content;
}

#won h1 {
    max-width: 80%;
}
